.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sectionWrapper{
  padding: 0px 60px 30px; /*top padding is 0px, right and left paddings are 30px, bottom padding is 60px*/
  display: flex;
  flex-direction: column;
  gap:32px; /*(got it from figma) in CSS, it Set the gap between rows and between columns to 50px, also there are row-gap and column-gap props*/

}